*{
  font-size: 20px;
}

body{
  background-color: #0a0a23;
}

#text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
}
#container{
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  min-height: 80vh; /* Ensures the container takes at least the height of the viewport */
  background-color: #0a0a23;
}
#game {
  max-width: 600px;
  max-height: 450px;
  color: #ffffff;
  padding: 10px;
}

#controls,
#stats {
  padding: 5px;
  color: white;
}

#stats{
  border-color: #46b2c0;
  display: inline;
}

#goldText{
  color: rgb(197, 175, 49);
}

#healthText {
  color: rgb(184, 43, 43);
}

#xpText {
  color: green;
}

#monsterStats {
  display: none;
  border: 1px solid white;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
  border-radius: 2px;
  margin: 2px
}

button:hover {
  background-color: blue;
  background-image: linear-gradient(red, blue);
  border: 3px solid blue;
  transition: .5s;
  color: white;
}

fieldset {
  color: rgb(255, 255, 255);
  text-align: center;
  border-color:black; 
  border-style: solid; 
  background-color: 0a0a23;
}

img {
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto; /* Centers the image under the fieldset */
  max-width: 400px;
  max-height: fit-content;
}
