body {
    background-color: #0a0a23;
}
  
#text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
}
#container{
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  min-height: 100vh; /* Ensures the container takes at least the height of the viewport */
  background-color: #0a0a23;
}
#game {
  max-width: 500px;
  max-height: 400px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 10px;
  margin-top: -100px;
}

#controls,
#stats {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
  border-radius: 2px;
}

button:hover {
  background-color: blue;
  background-image: linear-gradient(red, blue);
  border: 3px solid blue;
  transition: .5s;
  color: white;
}